/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.showFavorite {
display: block;

}

.hideFavorite {
display: none;

}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

header {
  width: 100%;
  background-image: url('https://images.unsplash.com/photo-1551024709-8f23befc6f87?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80');
  display: flex;
  background-size: cover;
  color: white;
  text-shadow: 4px 4px 5px black;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-position-y: -350px;
  font-size: 40px;
}

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 300px;
  height: 470px;
  /* margin: 5px; */
}

.col.s12.m6.l4 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* width: 400px; */
}

.drink {
  margin: 50px;
  font-size: 20px;
}

button {
  width: 100%;
}

h2 {
  font-size: 20px;
}

img {
  /* width: 30%; */
  height: 150px;
}

.card-image {
  /* width: 100%; */
  width: 200px;
}

.show {
  width: 100%;
}

form {
  margin: 5px;
}